*.class

# Package Files #
*.jar
*.war
*.ear
/target/
.settings/
.classpath
.project
.DS_Store
*.iml
*.ipr
*.iws

src/main/java/com/nastra/stanford/
src/main/resources/
test-output/
